<!doctype html>
<html>
<head>
    <title>Demo Day</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme-default.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" sizes="any" type="image/svg+xml" href="img/kanji.svg" >
</head>
<body data-_id="<%= user._id %>">
    <header class="page-header text-center">
        <img class="kanji-logo" src="img/kanji.svg" alt="picture of scroll with kanji">
        <h1>Profile Page</h1>
        <a href="/preferences">Preferences</a>
        <a href="/logout">Logout</a>
    </header>
    <% if (user.local.email) { %>
    <main class="profile-main">
        <div class="content">
            <div class="button-row">
                <button id="sample-text-button">Sample Text</button>
                <button id="translate-button">Translate!</button>
            </div>
            <div id="text-display" class="text-box">
            </div>
            <textarea id="text-input" class="text-box" placeholder="Insert text here!"></textarea>
        </div>
    </main>
    <% } %>
    <div id="info-popup">
        <div class="popup-content">
            <span>English: <span id="english-reading"></span></span>
            <span>Hiragana: <span id="hiragana-reading"></span></span>
        </div>
    </div>
    <script src="js/profile.js"></script>
</body>
</html>